@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,600;0,700;1,100;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-family: "Noto Sans", sans-serif; */
  font-family: "Lato", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  position: relative;
  overflow-x: hidden;
}

.lock-body {
  overflow-y: hidden;
}

:root {
  --main-font-color: #000;
  --main-heading-font-size: 4rem;
  --table-heading-font-size: 3rem;
  --table-heading-font-color: #eee;
  --input-field-font-size: 2rem;
  --add-btn-font-size: 2rem;
  --input-font-color: #393e46;
  --input-background: #eee;
  --input-font-size: 1.5rem;
  --background-color: #00adb5;
  --edg-spacing: 1rem;
  --footer-font-size: 1.2rem;
}
.drop-layer {
  background-color: rgba(255, 255, 255, 0.753);
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100vh;
  z-index: 999;
  filter: blur(10px);
  transition: top 0.3s;
}
.active-drop-layer {
  top: 0;
}
.deletion-confirm-box {
  position: absolute;
  background-color: #9d2020;
  z-index: 1000;
  /* Return it to -15% after finishing dropdown layer */
  top: -100%;
  margin: 0 5px;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px dashed #fff;
  transition: top 0.5s;
}
.drop-deletion-confirm {
  top: 10%;
}
.deletion-confirm-box > p {
  text-align: center;
  border-bottom: 2px solid #ffffffa8;
  padding-bottom: 5px;
}
.action-box {
  display: flex;
  gap: 20px;
}
.btn {
  font-size: inherit;
  cursor: pointer;
  padding: 0.3rem 1rem;
}
header {
  margin: 3rem 0 0 0;
  padding: 0 var(--edg-spacing);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.remove-project,
.edit-titleInput {
  position: absolute;
  opacity: 0.5;
  /* transform: translate(-50%, 50%); */
  cursor: pointer;
  transition: opacity 0.5s;
}
.edit-titleInput {
  right: 50px;
  bottom: 3px;
}
.remove-project {
  right: 20px;
  bottom: 3px;
}
.remove-project:hover,
.edit-titleInput:hover {
  opacity: 1;
}
.main-heading {
  font-size: var(--main-heading-font-size);
  color: var(--main-font-color);
  text-align: center;
  background-color: var(--background-color);
  border: none;
  outline: 0;
  caret-color: #eee;
  font-weight: 700;
  font-family: inherit;
  min-height: 75px;
  width: 100%;
  resize: none;
  margin-bottom: 5px;
}

/* .main-heading:focus {
  box-shadow: 0 0 5px 3px rgba(130, 239, 245, 0.541);
} */
/* Will add it also in edit btn icon later */
.active-box-shadow {
  box-shadow: 0 0 5px 3px rgba(130, 239, 245, 0.541);
}
main {
  display: flex;
  justify-content: space-around;
  margin: 0 var(--edg-spacing);
  gap: 5rem;
  width: 100%;
  padding: 1rem;
  /* Tests */
  /* Test Alignment */
  text-align: left;
  /* Add background-color */
  /* background-color: aliceblue; */
  /* test flex shorthend */
  flex-wrap: wrap;
}

.table-heading {
  font-size: var(--table-heading-font-size);
  color: var(--main-font-color);
  margin-bottom: 2rem;
  color: var(--main-font-color);
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(34, 40, 49, 0.616);
}

.error-box {
  text-align: center;
  padding: 0.2rem 0;
}

.error-message {
  visibility: hidden;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(224, 13, 27, 0.8);
}

.show {
  visibility: visible;
}
main > section {
  flex-grow: 1;
  /* Test */
  /* background-color: #777; */
}

.tasks-list {
  list-style: none;
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 50rem;
  padding: 5px;
  gap: 1rem;
  min-height: 30%;
}

.task-container {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

.action-icon {
  position: absolute;
  cursor: pointer;
  background-color: #eee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.452);
}
.edit-task {
  right: 30px;
}
.remove-task {
  right: 10px;
}

.fa-regular,
.fa-sharp {
  font-size: 1.5rem;
}

.fa-sharp {
  color: rgba(233, 22, 22, 0.603);
}

.tasks-list > li:last-child {
  margin-bottom: 1rem;
}
.tasks-container {
  flex: 1 0 10%;
}
.add-task-btn {
  width: 100%;
  font-size: var(--add-btn-font-size);
  cursor: pointer;
}

.task-input {
  font-size: var(--input-field-font-size);
  padding: 0.5rem;
  width: 100%;
  font-weight: 600;
  background-color: var(--input-background);
  border: none;
  outline: none;
  caret-color: var(--background-color);
  font-family: inherit;
  border-radius: 3px;
}
.task-input::placeholder {
  color: var(--input-font-color);
  font-weight: 600;
}
.task-input:focus {
  box-shadow: 0 0 5px 3px rgba(130, 239, 245, 0.541);
}

.input-error {
  box-shadow: 0 0 5px 3px rgba(245, 0, 0, 0.705);
}

.add-task-btn {
  background-color: var(--background-color);
  border: 0;
  padding: 5px 0;
  font-family: inherit;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.541);
}

.add-task-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.541);
}

.add-task-btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.541);
}

footer {
  margin-top: 10%;
  margin-bottom: 10px;
}

footer > small {
  font-size: var(--footer-font-size);
}

#author:link,
#author:visited {
  text-decoration: none;
  color: var(--main-font-color);
}
#author:hover,
#author:active {
  color: var(--input-font-color);
}

.dropable {
  background: #6dd4da;
}

@media (max-width: 37.5em) {
  .tasks-container {
    flex: 1 0 100%;
  }
}
